body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(30, 54%, 90%);
    color: hsl(24, 5%, 18%);
    font-family: 'Young Serif', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

p {
    font-family: 'Outfit', sans-serif;
}

hr {
    color: hsl(30, 18%, 87%);
}

h2, h3 {
    color: hsl(332, 51%, 32%);
}

ol li::marker {
    font-weight: 700;
}

li {
    font-family: 'Outfit', sans-serif;
    padding: 5px;
}

li::marker {
    color: hsl(332, 51%, 32%);
}

.card {
    padding: 40px;
    max-width: 736px;
    border-radius: 15px;
    background: white;
}



img {
    width: 100%;
    border-radius: 15px;
}

.pink {
    background: hsl(330, 100%, 98%);
    border-radius: 15px;
    padding: 20px;
}

.pink h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}

.nutrition-table {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.left-side {
    width: 50%;
}

.left-side p {
    padding-left: 50px;
}

.right-side {
    width: 50%;
    color: hsl(332, 51%, 32%);
    font-weight: 700;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: hsl(330, 100%, 98%);
}

.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: black;
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.attribution a:hover {
    color: hsl(332, 51%, 32%);
    font-weight: 900;
    font-size: 16px;
}

@media (max-width: 500px) {
    body {
        background: white;
        padding: 0;
        margin: 0;
    }

    .card {
        margin: 0;
        padding: 0;
    }

    img {
        width: 100%;
        border-radius: 0;
    }

    .recipe {
        padding: 40px;
    }

    .image-container {
        width: 100%;
    }
}